body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Empêche les défilements inutiles de la fenêtre du navigateur */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

input[type="text"],
input[type="nom"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-sizing: border-box;

  margin-top: 2px;
}

.RememberMe {
  display: flex;
  align-items: center;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}


.title-login {
  color: #6B2737;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.label-stay-connected {
  color: #000;
font-family: Raleway;
font-size: 12px;
font-style: italic;
font-weight: 400;
line-height: normal;
}

.label-forget-password {
  color: #000;
text-align: center;
font-family: Raleway;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
}