.scrollable-users {
    display: flex;
    overflow-x: auto;
    padding: 10px;
  }
  
  .recent-user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message{
    width:100%;
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  html,
body,
#root {
  height: 100%;
  margin: 0;
}

.chat-view {
  height: 100%;
  padding-top:6rem;
  padding-left:1rem;
  padding-right:1rem;
  display: flex;
  flex-direction: column;
}

.recent-users,
.message-list {
  flex: 1;
  overflow-y: auto; /* Ajoute une barre de défilement en cas de contenu trop long */
}

/* Ajoute d'autres styles CSS au besoin */
