.container-settings {
    height:100%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: #FFF;
}

.contain-back-icon{
    justify-content: start;
    align-items: center;
    display: flex;
    height:5%;
}

.icon-back {
    font-size: 30px;
    padding:0.4rem;
    color:#2c1420;
}
.contain-name {
    height:15%;
}
.title-name {
  color: #2c1420;
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-photo {
  height: 147px;
  width: 147px;
  border-radius: 30rem;
  background-color: purple;
}

.row-contain-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:20%;
  
}

.row-contain-indicator {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:10%;
  margin-top:1rem;
}

.pourcents-indicator-contain {
  width: 40%;
  border-radius: 30px;
 background: #dbe9ef;
  display: flex;
  justify-content: flex-start;
  height:100%;
  
 
}

.pourcents-indicator {
  border-radius: 30px;
  background: #ff5a5f;
  width: 40%;
  height: 1rem;
}
.row-contain-informations-profile {
    justify-content: center;
    align-items: center;
    display: flex;
}

.row-contain-informations-profile > p {
    color: #2C1420;
text-align: center;
font-family: Raleway;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
width:70%;
}

.row-contain-settings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height:20rem;   
  margin-top:2rem;
}
.button-settings {
  width: 90%;
  padding: 0.3rem;
  border-radius: 8px;
  background: #dbe9ef;
  justify-content: center;
  align-items: center;
}

.button-settings > p {
  color: #2c1420;
  text-align: center;
  font-family: Raleway;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
